@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --primary-color: #2a323c;
    --secondary-color: #00b4d8;
    --tertiary-color: #0077b6;
    --gray-color: #b0b0b0;
}


* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    line-height: 1;
    padding: 0;
    margin: 0;
}

.container {
    background-color: var(--primary-color);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    background-color: #323c48;
    border-radius: 10px;
    padding: 45px;
    width: 375px;
    max-width: 95%;
    box-shadow: 5px 5px 10px 1px rgb(0, 0, 0, 10%);
}

@media (max-width: 480px) {
    .box {
        padding: 75px 25px;
    }
}

.box h1 {
    color: white;
    font-size: 35px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 30px;
}

.box h4 {
    color: #8aa1b7;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 25px;
}

.text {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--gray-color);
}

.text:hover {
    border-bottom-color: var(--secondary-color);
}

.text:first-of-type {
    margin-bottom: 35px;
}


.text input {
    background-color: #3b4654;
    color: #fff;
    font-size: 20px;
    outline: none;
    border: none;
    padding: 10px;
    min-width: 0;
    flex: 1;
}

.text input::placeholder {
    opacity: 1;
    color: var(--gray-color);
    font-size: 12px;
}

.check{
    color: var(--gray-color);
    text-decoration: none;
    font-size: 12px;
    margin-top: 20px;
    display: flex;
}

.check:hover{
    color: var(--secondary-color);
}

.box form input[type="submit"] {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    width: 100%;
    padding: 15px;
    margin-top: 45px;
    border-radius: 5px;
}

.box form input[type="submit"]:hover {
    background-color: var(--tertiary-color);
    cursor: pointer;
}

.BOT{
    margin-top: 25px;
    display: flex;
    font-size: 12px;
    justify-content: space-between;
}

.BOT a{
    color: var(--gray-color);
    text-decoration: none;
}

.BOT a:hover{
    color: var(--secondary-color);
}

.BOT i{
    color: var(--gray-color);
}

.BOT i:hover{
    color: var(--secondary-color);
}

.error-content{
    margin: 10px;
}